<app-icon name="git" link="https://github.com/"></app-icon>
<app-icon name="linked" link="https://github.com/"></app-icon>
<app-icon name="mail" link="https://github.com/"></app-icon>
<div class="img-wrapper"><img class="me-img" src="./assets/images/me.jpg"></div>
<p class="fz-24 me-subtitle">Hi, I'm <span class="primary-color">Pavel</span>:)</p>
<p class="fz-title me-title">Front-End Developer</p>
<div class="sv-button"><span class="fz-text sv-button__text ">Download CV</span></div>

<div class="fz-text about-me-container">
  <p class="about-me-text">
    <span class="primary-color"><</span>
    I am a Front-end developer based in Warszawa, Poland.
    <span class="primary-color">/></span>
  </p>
  <p class="about-me-text">
    <span class="primary-color"><</span>
    I have knowledge of Typescript/Javascript, Angular, NgRx, RxJs, Webpack, CSS (SCSS).
    <span class="primary-color">/></span>
  </p>
  <p class="about-me-text">
    <span class="primary-color"><</span>
    Believe in constant learning that enhances my coding skills more and more.
    <span class="primary-color">/></span>
  </p>
  <p class="about-me-text">
    <span class="primary-color"><</span>
    I am looking forward to working in team. I am not only willing to deepen my knowledge but I also want to apply them
    to the real products.
    <span class="primary-color">/></span>
  </p>
</div>


