$rrr: #1a237e;
$bgDark: rgb(29, 38, 45);
$bgLight: #f4f6f9;
$bgDarkSecondary: rgb(38, 50, 61);
$bgLightSecondary: #f4f6f9;
$colorPrimary: rgb(233, 30, 99);
$colorPrimary-50: rgba(233, 30, 99, 0.36);
//svg
$violet: rgb(110, 84, 148);
$violet-15: rgba(110, 84, 148, 0.75);
$blue: rgb(39, 103, 177);
$white-grey: rgb(224, 225, 226);


