.primary-color {
  color: $colorPrimary;
}

.secondary-color {
  color: $violet;
}


.fz-24, .fz-subtitle, .fz-text, .fz-title {
  line-height: initial;

}

.fz-24 {
  font-size: 32px;
}

.fz-text {
  font-size: 20px;
}

.fz-title {
  font-size: 72px;
}

.fz-subtitle {
  font-size: 36px;
}


@media (max-width: 900px) {
  .fz-title {
    font-size: 60px;
  }
  .fz-text {
    font-size: 18px;
  }
  .fz-subtitle {
    font-size: 32px;
  }
}

@media (max-width: 720px) {
  .fz-title {
    font-size: 48px;
  }
  .fz-text {
    font-size: 16px;
  }
}


@media (max-width: 500px) {
  .fz-title {
    font-size: 36px;
  }
  .fz-subtitle {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  //.fz-title {
  //  font-size: 48px;
  //}
}
