<div class="course-container">
  <div class="course fz-text">
    <p class="course__date">{{course.date}}</p>
    <a class="course__progress" *ngIf="course.progressLink; else progress" [href]="course.progressLink">
      <p>{{course.progress}}</p></a>
    <ng-template #progress>
      <p>{{course.progress}}</p>
    </ng-template>
    <p class="course__name">{{course.courseName}}</p>
    <a class="course__link" [href]="course.institutionLink"><p>{{course.institution}}</p></a>
  </div>
  <div *ngIf="!last" class="divider"></div>
</div>
