<mat-drawer-container class="drawer" hasBackdrop="false">
  <mat-drawer
    [ngClass]="{'bgLightSecondary':!isDarkTheme,'bgDarkSecondary':isDarkTheme}"
    #drawer class="drawer__sidenav" position="end" mode="over">
    <app-side-nav [drawer]="drawer"></app-side-nav>
  </mat-drawer>
  <div
    class="drawer__sidenav-content"
    [ngClass]="{'bgLight':!isDarkTheme,'bgDark':isDarkTheme}"
  >
    <app-header [drawer]="drawer"></app-header>
    <app-main class="container"></app-main>
    <app-footer></app-footer>
  </div>

</mat-drawer-container>
