<div class="skills-container margin-left fz-text">
  <p class="fz-text primary-color">Why me</p>
  <p class="fz-subtitle">Hard skills</p>
  <div class="grid-skills">
    <p><span class="primary-color"><<</span> JavaScript <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> TypeScript <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> Angular <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> NgRx, RxJs <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> NestJs <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> Rest API <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> HTML <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> CSS, ScSS <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> Git <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> Webpack <span class="primary-color">>></span></p>
    <p><span class="primary-color"><<</span> Angular Material <span class="primary-color">>></span>
    </p>
    <p><span class="blue"><<</span> Tailwind <span class="primary-color">>></span></p>
  </div>
</div>
