<nav>
  <ul class="list">
    <li><a appAnimateElement [duration]="animationDuration" href="#me" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Me</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#skills" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Skills</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#projects" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Projects</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#education" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Education</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#languages" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Languages</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#experience" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Experience</a></li>
    <li><a appAnimateElement [duration]="animationDuration" href="#contact" class="underline-animation" (click)="scrollToSkills($event)"
           aria-label="Go to skills section">Contact</a></li>
  </ul>
</nav>
